
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  section {
    max-width: 1120px;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
  }
  #p1{
    color:white;
    background-color: black;
    text-align: center;
    padding: 10px;
  }
  #about-section{
   margin-left: 40px;
   margin-right: 40px;;
  }
  
  header{
    display: flex;
    justify-content: space-between;
    margin:60px;
    margin-top: 60px;
  }
  header img{
    width:60px;
  }
  #left{
    display: flex;
    justify-content: space-between;
    margin:60px;
  }
  #left img{
    width:300px;
  }
  #pp{
    display: flex;
  }
  #aboutreverse{
    display: flex;
    align-items:flex-start
  }
  #social-media{
    padding:10px;
  }

  #social-media img{
width:20px;
  }
